<ion-header>
  <ion-buttons slot="start">
      <ion-back-button defautltHref="/"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
      <ion-title>{{student.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
      <ion-fab-button>
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
          <ion-fab-button color="success" (click)="update();toHome()">
              <ion-icon name="checkmark"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="warning" (click)="toHome()">
              <ion-icon name="close"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="danger" (click)="delete(student.id)">
              <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
      </ion-fab-list>
  </ion-fab>
  <ion-card style="text-align: center;">
    <form [formGroup]="myForm">

        <ion-label style="margin-right: 22%;"><strong>Nombre:</strong></ion-label>
        <ion-row>
            <ion-input type="text" values="" formControlName="name" disabled="{{nameFlag}}"></ion-input>
            <ion-button color="dark" style="margin-right: 20%;" (click)="nameFlag=false">
                <ion-icon name="create"></ion-icon>
            </ion-button>
        </ion-row>
        <ion-label style="margin-right: 22%;"> <strong>Número de control:</strong> </ion-label>
        <ion-row>
            <ion-input type="text" values="" formControlName="controlnumber" disabled="{{ncFlag}}"></ion-input>
            <ion-button color="dark" style="margin-right: 20%;" (click)="ncFlag=false">
                <ion-icon name="create"></ion-icon>
            </ion-button>
        </ion-row>
        <ion-label style="margin-right: 22%;"> <strong>CURP:</strong> </ion-label>
        <ion-row>
            <ion-input type="text" values="" formControlName="curp" disabled="{{curpFlag}}"></ion-input>
            <ion-button color="dark" style="margin-right: 20%;" (click)="curpFlag=false">
                <ion-icon name="create"></ion-icon>
            </ion-button>
        </ion-row>
        <ion-label style="margin-right: 22%;"><strong>Edad:</strong></ion-label>
        <ion-row>
            <ion-input type="text" values="" formControlName="age" disabled="{{ageFlag}}"></ion-input>
            <ion-button color="dark" style="margin-right: 20%;" (click)="ageFlag=false">
                <ion-icon name="create"></ion-icon>
            </ion-button>
        </ion-row>
        <ion-label style="margin-right: 22%;"><strong>Estatus:</strong></ion-label>
        <ion-row style="margin-left: 35%;">
            <ion-toggle formControlName="active" color="secondary" checked="{{student.active}}"></ion-toggle>
        </ion-row>
        <ion-button expand=" block " color="secondary" (click)="update(); toHome()">
            Actualizar
        </ion-button>
    </form>
  </ion-card>
</ion-content>
